Auth {
    align: center middle;
}

LoginForm, RegisterForm {
    border: round white;
    padding: 1 2;
    width: 50%;
}

Tabs {
    dock: top;
    align-horizontal: center;
}

.login-form-input, .register-form-input {
    width: 100%;
    margin-bottom: 1;
    border: none;
    padding-top: 1;
    padding-left: 2;
}

#loginButton, #registerButton {
    width: 100%;
}

#cert-explorer {
    height: 15;
    margin-bottom: 1;
}